:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  line-height: 1.1;
}

button {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 2%;
  box-shadow: 5px 0px 10px 7px rgba(56, 56, 56, 0.05);
}

.Section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 4rem;
}

.Header {
  padding: 30px;
  text-align: center;
  font-size: 1.1rem;
}

.bold {
  font-size: 1.05rem;
  font-weight: 700;
}